<section data-controller="chat" class="w-full flex flex-col text-center">
<h1>lets make a chat server</h1>
<input data-chat-target="message" type="text" class="">
<button data-action="click->chat#send_message">Send</button>


<span data-chat-target="output">
</span>
</section>



